body {
    margin: 8px auto;
    max-width: 800px;
    background-color: black;
    font-size: 28px;
    font-family: monospace;
    color: white;
}
h1 {
    text-align: center;
    font-size: 1em;
}
#last-checked {
    text-align: center;
    font-size: 0.5em;
}
table {
    width: 100%;
}
.ok {
    color: lime;
}
.ko {
    color: red;
}
td:last-child {
    text-align: right;
}