<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CozyStatus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>CozyStatus</h1>
    <h2>Sitemap</h2>
    <ul>
    {%- for endpoint in config["sitemap"] %}
        <li><a href="{{ url_for(endpoint) }}">{{ " ".join(endpoint.split("_")).capitalize() }}</a></li>
    {%- endfor %}
    </ul>
</body>
</html>