<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="{{ refresh_timer }}">
    <title>Network status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/network-status.css') }}">
</head>
<body>
    <h1>Network status</h1>
    <p id="last-checked"><strong>Last checked at {{ last_checked }}</strong></p>
    <table>
        <tbody>
        {%- for name, status_code in server_statuses.items() -%}
            {%- if status_code == None %}
            <tr>
                <th colspan=2>{{ name }}</th>
            <tr>
            {%- elif status_code == 0 %}
            <tr class="ok">
                <td>{{ name }}</td>
                <td>OK</td>
            <tr>
            {%- elif status_code is number %}
            <tr class="ko">
                <td>{{ name }}</td>
                <td>KO</td>
            <tr>
            {%- endif -%}
        {% endfor %}    
        </tbody>
    </table>
</body>
</html>